# ========================
# Data files and outputs
# ========================
data/
results/
*.csv
*.tsv
*.npy
*.npz
*.h5
*.hdf5
*.pkl
*.mat

# ========================
# Jupyter + notebook stuff
# ========================
**/.ipynb_checkpoints
*.log

# ========================
# Python build and cache
# ========================
__pycache__/
*.py[cod]
*.pyo

# ========================
# Virtual environments
# ========================
env/
venv/
.venv/
ENV/
env.bak/
env-old/
environment/

# ========================
# Conda
# ========================
*.conda
*.lock
*.yaml

# ========================
# System files
# ========================
.DS_Store
Thumbs.db

# ========================
# JupyterLab / VSCode / IDEs
# ========================
.lab/
.vscode/
.idea/
