# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Environment files
.env
.venv
env/
venv/
ENV/
*.env

# Packaging
*.egg-info/
dist/
build/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# VS Code
.vscode/

# Temporary files
*.bak
*.tmp
